
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AddProductViewModel

<div class="product-form-block-design">
    <h3 class="h3-design">Новый продукт</h3>
<form method="post" asp-action="AddProduct" class="form-design-product" enctype="multipart/form-data">

<fieldset class="border-1 border-dark">

      <div class="input-group mb-2">
            <label class="label-design" asp-for=Name> </label>
            <br>
            <input class="w-100" asp-for=Name  type="text" >
            <span asp-validation-for=Name></span>
      </div>
 
      <div class="input-group mb-2">
            <label class="label-design" asp-for=Manufacturer>  </label>
            <br>
            <input class="w-100"  asp-for=Manufacturer type="text"/>
             <span asp-validation-for=Manufacturer></span>
      </div>

      <div class="input-group mb-2">
            <label class="label-design" asp-for=Cost>  </label>
            <br>
            <input class="w-100" asp-for=Cost type="text"/>
             <span asp-validation-for=Cost></span>
      </div>

      <div class="input-group mb-2">
            <label class="label-design" asp-for=Category.Name>  </label>
            <br>
            <input class="w-100" asp-for=Category.Name type="text"/>
            <span asp-validation-for=Category.Name></span>
      </div>

      <div class="input-group mb-4">
            <label class="label-design" asp-for=Description>  </label>
            <br>
            <input class="w-100" asp-for=Description type="text" >
            <span asp-validation-for=Description></span>
      </div>

      <div class="input-group mb-4">
             <input class="w-100" asp-for=Image.Image type="file">
             <span asp-validation-for=Image.Image></span>    
      </div>
  
      <div class="input-group mb-2">
             <button  class="btn btn-primary button-design-product" type="submit"> Добавить </button>
      </div>

</fieldset>

</form>
</div>
